A {
	COLOR: #66cc00; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3300ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #FF0000; TEXT-DECORATION: none
}
TD {
	FONT-FAMILY: sans-serif
}
.txt1 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 75%; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.txt1small {
	FONT-FAMILY: sans-serif; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.signature{
	FONT-FAMILY: sans-serif;  FONT-STYLE: italic; FONT-SIZE: 75%; LINE-HEIGHT: 150%; PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.txt2 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 75%; PADDING-BOTTOM: 50px; PADDING-LEFT: 50px; PADDING-RIGHT: 50px; PADDING-TOP: 50px
}