A {
	COLOR: #009900; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #3300ff; TEXT-DECORATION: underline
}
TD {
	FONT-FAMILY: sans-serif
}
.heading1 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 130%; PADDING-BOTTOM: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px;
	FONT-WEIGHT: bolder; COLOR: #727272
}
.txt1 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 75%; LINE-HEIGHT: 130%; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.txt1bold {
	FONT-FAMILY: sans-serif; FONT-SIZE: 75%; LINE-HEIGHT: 130%; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px;
	FONT-WEIGHT: bolder; COLOR: #727272
}
.txt1small {
	FONT-FAMILY: sans-serif; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.txt1smallbf {
	FONT-FAMILY: sans-serif; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.signature{
	FONT-FAMILY: sans-serif;  FONT-STYLE: italic; FONT-SIZE: 75%; LINE-HEIGHT: 160%; PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.txt2 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 75%; PADDING-BOTTOM: 50px; PADDING-LEFT: 50px; PADDING-RIGHT: 50px; PADDING-TOP: 50px
}